/*
    Document   : labs/CST336_Lab2/css/styles．css
    Created on : 2015-02-11 06:35 PM
    Author     : garc5905
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}